* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Teachers', sans-serif;
    min-height: 100vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.6)),
        url('./img/bg.jpg') no-repeat center;
    background-size: cover;
    color: beige;
}

